.a{
    border: 2px solid yellow;
}
table,tr,td{
        border: 1px solid orange;
        border-collapse: collapse;
        width: 1000px;
        text-align: center;
        font-size: 24px;
        height: 40px;
        color: white;
}
.k{
     color: yellow;
}
input{
     width: 1000px;
}
.h{
     color: black;
     background-color: yellow;
     width: 300px;
     border-radius: 30px;
}